.road-pattern {
  width: 100%;
  height: 80px;
  background-color: grey;

  background-image: repeating-linear-gradient(to right, white 0px, white 30px, transparent 10px, transparent 60px);
  background-position: center;
  background-size: 60px 8px;
  background-repeat: repeat-x;
}

.footer-block {
  width: 100%;
  min-height: 100px;
  height: auto;
  background-color: #003049;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

/* #about {
    background-image:
        url('bg_top_car.png'),
        url('bg_side_car.png');

    background-position:
        0 0,
        0 0;
    
    background-repeat: 
        repeat-x,
        repeat-y;

    background-size: 
        auto 50px,
        50px auto;
} */

/* Alternative pattern with flipped images */
#about {
  background-color: chocolate;
  background-image: url("/bg_top_car.png"), url("/bg_top_car.png"),
    url("/bg_side_car.png"), url("/bg_side_car.png");

  background-position: 0 0, 100px 0, 0 0, 0 100px;

  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;

  /* background-size:
        100px 50px,
        100px 50px,
        50px 100px,
        50px 100px; */

  /* Flip every other repetition */
  /* transform: scaleX(-1); */
}

/* @keyframes drive {
  from {
    transform: translateX(-20vw) rotate(90deg);
  }
  to {
    transform: translateX(120vw) rotate(90deg);
  }
} */

@keyframes drive {
  0% {
    /* Start at the very left edge of the parent */
    transform: translateX(0) rotate(90deg);
  }
  100% {
    /* Move to the very right edge of the parent */
    /* Subtracting car width (e.g., 290px) keeps it from disappearing too late */
    transform: translateX(calc(100vw - 150px)) rotate(90deg);
  }
}

.animate-drive {
  animation: drive var(--speed, 8s) linear infinite;
}

/* Optional: Offset the second car so they don't overlap perfectly */
.delay-animation {
  animation-delay: -5s; 
}