.road-pattern {
  width: 100%;
  height: 80px;
  background-color: grey;

  background-image: repeating-linear-gradient(to right, white 0px, white 30px, transparent 10px, transparent 60px);
  background-position: center;
  background-size: 60px 8px;
  background-repeat: repeat-x;
}

.footer-block {
  width: 100%;
  height: 200px;
  background-color: #003049;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* #about {
    background-image: 
        url('/new_assets/bg_top_car.png'),
        url('/new_assets/bg_side_car.png');
    
    background-position:
        0 0,
        0 0;
    
    background-repeat: 
        repeat-x,
        repeat-y;

    background-size: 
        auto 50px,
        50px auto;
} */

/* Alternative pattern with flipped images */
#about {
  background-color: chocolate;
  background-image: url("/new_assets/bg_top_car.png"), url("/new_assets/bg_top_car.png"),
    url("/new_assets/bg_side_car.png"), url("/new_assets/bg_side_car.png");

  background-position: 0 0, 100px 0, 0 0, 0 100px;

  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;

  /* background-size:
        100px 50px,
        100px 50px,
        50px 100px,
        50px 100px; */

  /* Flip every other repetition */
  /* transform: scaleX(-1); */
}
