.background-purple-gradient {
  background: linear-gradient(180deg, rgba(73, 9, 200, 1) 0%, rgba(46, 56, 203, 1) 35%, rgba(100, 134, 164, 1) 100%);
}

.background-cream-gradient {
  background: linear-gradient(180deg, #FDF0D5 0%, #FCDFA4 100%);
}